<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cb64ae">  <td>21/10/26 12:06:34</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;LoginTest.setup()[pri:0, instance:Learning.LoginTest@6743e411]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1437654187</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>21/10/26 12:06:39</td>   <td>4671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.testLogin(java.lang.String, java.lang.String)[pri:0, instance:Learning.LoginTest@6743e411]">testLogin</td> 
  <td>main@1437654187</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>21/10/26 12:06:44</td>   <td>10255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.testLogin(java.lang.String, java.lang.String)[pri:0, instance:Learning.LoginTest@6743e411]">testLogin</td> 
  <td>main@1437654187</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>21/10/26 12:06:48</td>   <td>13808</td> <td>&nbsp;</td><td title="&lt;&lt;LoginTest.tearDown()[pri:0, instance:Learning.LoginTest@6743e411]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1437654187</td>   <td></td> </tr>
</table>
