<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="60a8c0">  <td>20/09/08 13:19:52</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;LoginTest.setup()[pri:0, instance:Learning.LoginTest@8458f04]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1077596330</td>   <td></td> </tr>
<tr bgcolor="60a8c0">  <td>20/09/08 13:20:01</td>   <td>8679</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.testLogin(java.lang.String, java.lang.String)[pri:0, instance:Learning.LoginTest@8458f04]">testLogin</td> 
  <td>TestNG-tests-1@1077596330</td>   <td></td> </tr>
<tr bgcolor="60a8c0">  <td>20/09/08 13:20:07</td>   <td>14530</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.testLogin(java.lang.String, java.lang.String)[pri:0, instance:Learning.LoginTest@8458f04]">testLogin</td> 
  <td>TestNG-tests-1@1077596330</td>   <td></td> </tr>
<tr bgcolor="60a8c0">  <td>20/09/08 13:20:11</td>   <td>18464</td> <td>&nbsp;</td><td title="&lt;&lt;LoginTest.tearDown()[pri:0, instance:Learning.LoginTest@8458f04]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1077596330</td>   <td></td> </tr>
</table>
